In [1]:
import pandas as pd
import requests
import json
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy.stats as ss
import statsmodels.api as sm
import pylab as py
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import pingouin as pg
import statsmodels.formula.api as smf

In [2]:
cars = pd.read_csv('/home/jupyter-o-demchenko-18/statistic/Lesson7/cars.csv')

In [3]:
cars.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
# проверка пропущенных значений (их сумма)
cars.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

3. Сгенерируем первый признак.

Использовать полное название машины – не самый хороший вариант, поэтому создадим новый признак – марку автомобиля (company). Для этого используйте столбец CarName, разбейте значения ячеек по пробелу и запишите в колонку первый элемент. Например:

'audi 100 ls' → 'audi'
Сколько всего уникальных марок машины встречается в датасете? Столбец CarName с полным названием машины удалите из датасета, а также car_ID, они не пригодятся для дальнейшего анализа.

In [5]:
# разделяем строки в столбце CarName по пробелу и с помощью функции expand=True создаем новый датафрейм new_df, состоящий из разделенных строк
new_df = cars['CarName'].str.split(' ', expand=True)
new_df

               0             1     2     3     4
0    alfa-romero        giulia  None  None  None
1    alfa-romero       stelvio  None  None  None
2    alfa-romero  Quadrifoglio  None  None  None
3           audi           100    ls  None  None
4           audi         100ls  None  None  None
..           ...           ...   ...   ...   ...
200        volvo          145e  (sw)  None  None
201        volvo         144ea  None  None  None
202        volvo         244dl  None  None  None
203        volvo           246  None  None  None
204        volvo         264gl  None  None  None

[205 rows x 5 columns]

In [6]:
# переименуем колонки
new_df.columns=['brand_cars','1','2', '3', '4']
new_df

      brand_cars             1     2     3     4
0    alfa-romero        giulia  None  None  None
1    alfa-romero       stelvio  None  None  None
2    alfa-romero  Quadrifoglio  None  None  None
3           audi           100    ls  None  None
4           audi         100ls  None  None  None
..           ...           ...   ...   ...   ...
200        volvo          145e  (sw)  None  None
201        volvo         144ea  None  None  None
202        volvo         244dl  None  None  None
203        volvo           246  None  None  None
204        volvo         264gl  None  None  None

[205 rows x 5 columns]

In [7]:
# соединяем новый датафрейм и исходный по столбцу (axis=1)
final_df = pd.concat([cars,new_df],axis=1)
final_df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,horsepower,peakrpm,citympg,highwaympg,price,brand_cars,1,2,3,4
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,111,5000,21,27,13495.0,alfa-romero,giulia,None,None,None
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,111,5000,21,27,16500.0,alfa-romero,stelvio,None,None,None
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,154,5000,19,26,16500.0,alfa-romero,Quadrifoglio,None,None,None
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,102,5500,24,30,13950.0,audi,100,ls,None,None
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,115,5500,18,22,17450.0,audi,100ls,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,114,5400,23,28,16845.0,volvo,145e,(sw),None,None
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,160,5300,19,25,19045.0,volvo,144ea,None,None,None
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,134,5500,18,23,21485.0,volvo,244dl,None,None,None
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,106,4800,26,27,22470.0,volvo,246,None,None,None
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,114,5400,19,25,22625.0,volvo,264gl,None,None,None

In [8]:
# удаляем ненужные колонки по очереди
final_df = final_df.drop('car_ID',axis=1)
final_df

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,horsepower,peakrpm,citympg,highwaympg,price,brand_cars,1,2,3,4
0,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,111,5000,21,27,13495.0,alfa-romero,giulia,None,None,None
1,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,111,5000,21,27,16500.0,alfa-romero,stelvio,None,None,None
2,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,154,5000,19,26,16500.0,alfa-romero,Quadrifoglio,None,None,None
3,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,102,5500,24,30,13950.0,audi,100,ls,None,None
4,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,115,5500,18,22,17450.0,audi,100ls,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,188.8,...,114,5400,23,28,16845.0,volvo,145e,(sw),None,None
201,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,160,5300,19,25,19045.0,volvo,144ea,None,None,None
202,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,188.8,...,134,5500,18,23,21485.0,volvo,244dl,None,None,None
203,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,106,4800,26,27,22470.0,volvo,246,None,None,None
204,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,114,5400,19,25,22625.0,volvo,264gl,None,None,None

In [9]:
# подсчет уникальных значений марок машин
final_df['brand_cars'].nunique()

28

4. Теперь внимательнее посмотрите на уникальные значения company. Часть из них оказалась с ошибками!

In [10]:
# выведим уникальные значения
final_df['brand_cars'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [11]:
# замена строчных букв на прописные
final_df['brand_cars'] = final_df['brand_cars'].str.lower()

In [12]:
# замена неправильных названий
final_df['brand_cars'] = final_df['brand_cars'].str.replace('maxda', 'mazda', regex=True)
final_df['brand_cars'] = final_df['brand_cars'].str.replace('porcshce', 'porsche', regex=True)
final_df['brand_cars'] = final_df['brand_cars'].str.replace('toyouta', 'toyota', regex=True)
final_df['brand_cars'] = final_df['brand_cars'].str.replace('vokswagen', 'volkswagen', regex=True)
final_df['brand_cars'] = final_df['brand_cars'].str.replace('vw', 'volkswagen', regex=True)

/opt/tljh/user/lib/python3.7/site-packages/outdated/utils.py:18: OutdatedCacheFailedWarning: Failed to use cache while checking for outdated package.
Set the environment variable OUTDATED_RAISE_EXCEPTION=1 for a full traceback.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  **kwargs
/opt/tljh/user/lib/python3.7/site-packages/outdated/utils.py:18: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.4.0, the latest is 0.5.0.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  **kwargs

In [13]:
# подсчет уникальных значений
final_df['brand_cars'].nunique()

22

In [14]:
final_df.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,horsepower,peakrpm,citympg,highwaympg,price,brand_cars,1,2,3,4
0,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,111,5000,21,27,13495.0,alfa-romero,giulia,None,None,None
1,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,111,5000,21,27,16500.0,alfa-romero,stelvio,None,None,None
2,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,154,5000,19,26,16500.0,alfa-romero,Quadrifoglio,None,None,None
3,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,102,5500,24,30,13950.0,audi,100,ls,None,None
4,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,115,5500,18,22,17450.0,audi,100ls,None,None,None

5. Чтобы не перегружать модель большим количеством предикторов, оставим только часть из них:

'company', 'fueltype', 'aspiration','carbody', 'drivewheel', 'wheelbase', 'carlength','carwidth', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio','horsepower'

In [15]:
# вывод названий колонок датафрейма
for column in final_df:
   print(column)

symboling
CarName
fueltype
aspiration
doornumber
carbody
drivewheel
enginelocation
wheelbase
carlength
carwidth
carheight
curbweight
enginetype
cylindernumber
enginesize
fuelsystem
boreratio
stroke
compressionratio
horsepower
peakrpm
citympg
highwaympg
price
brand_cars
1
2
3
4

In [16]:
# вывод нового датафрейма с необходимыми колонками
df = final_df[['brand_cars', 'fueltype', 'aspiration','carbody', 'drivewheel', 'wheelbase', 'carlength','carwidth', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio','horsepower', 'price']]

In [17]:
# рассчет корреляции относительно колонки price и сортировка сверху вниз (опционально)
df_corr = df.corr()['price'].sort_values(ascending=False).round(2)

In [18]:
df_corr

price         1.00
enginesize    0.87
curbweight    0.84
horsepower    0.81
carwidth      0.76
carlength     0.68
wheelbase     0.58
boreratio     0.55
Name: price, dtype: float64

6. Последний шаг в подготовке данных: линейная регрессия в python не справляется с категориальными переменными (типом object в pandas), поэтому давайте применим pd.get_dummies(). Пример использования:

df_dummy = pd.get_dummies(data=cars[[список_столбцов_типа_object]], drop_first = True)
Не забудьте присоединить к полученному датасету столбцы с переменными других типов :)

Сколько колонок теперь имеется в датасете?

In [19]:
# проверим типы данных в df
df.dtypes

brand_cars         object
fueltype           object
aspiration         object
carbody            object
drivewheel         object
wheelbase         float64
carlength         float64
carwidth          float64
curbweight          int64
enginetype         object
cylindernumber     object
enginesize          int64
boreratio         float64
horsepower          int64
price             float64
dtype: object

In [20]:
# перевод категориальных переменных типа object в dummy
df_dummy = pd.get_dummies(data=df[['brand_cars', 'fueltype', 'aspiration', 'carbody', 'drivewheel', 'enginetype', 'cylindernumber']], drop_first = True)
df_dummy

,brand_cars_audi,brand_cars_bmw,brand_cars_buick,brand_cars_chevrolet,brand_cars_dodge,brand_cars_honda,brand_cars_isuzu,brand_cars_jaguar,brand_cars_mazda,brand_cars_mercury,...,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
201,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
202,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
203,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
204,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [21]:
# соединение нового датафрейма со старым
df_dummy_finish = pd.concat([df, df_dummy], axis=1)
df_dummy_finish

,brand_cars,fueltype,aspiration,carbody,drivewheel,wheelbase,carlength,carwidth,curbweight,enginetype,...,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,alfa-romero,gas,std,convertible,rwd,88.6,168.8,64.1,2548,dohc,...,0,0,0,0,0,1,0,0,0,0
1,alfa-romero,gas,std,convertible,rwd,88.6,168.8,64.1,2548,dohc,...,0,0,0,0,0,1,0,0,0,0
2,alfa-romero,gas,std,hatchback,rwd,94.5,171.2,65.5,2823,ohcv,...,0,0,1,0,0,0,1,0,0,0
3,audi,gas,std,sedan,fwd,99.8,176.6,66.2,2337,ohc,...,1,0,0,0,0,1,0,0,0,0
4,audi,gas,std,sedan,4wd,99.4,176.6,66.4,2824,ohc,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,sedan,rwd,109.1,188.8,68.9,2952,ohc,...,1,0,0,0,0,1,0,0,0,0
201,volvo,gas,turbo,sedan,rwd,109.1,188.8,68.8,3049,ohc,...,1,0,0,0,0,1,0,0,0,0
202,volvo,gas,std,sedan,rwd,109.1,188.8,68.9,3012,ohcv,...,0,0,1,0,0,0,1,0,0,0
203,volvo,diesel,turbo,sedan,rwd,109.1,188.8,68.9,3217,ohc,...,1,0,0,0,0,0,1,0,0,0
204,volvo,gas,turbo,sedan,rwd,109.1,188.8,68.9,3062,ohc,...,1,0,0,0,0,1,0,0,0,0

In [22]:
df_dummy_finish.shape
# число новых колонок 56, но 7 колонок повторяются, поэтому итоговое кол-во колонок 56-7=49

(205, 56)

7. Сначала построим небольшую модель всего с одним предиктором цены (price) – horsepower.

Какой процент изменчивости объясняет полученная модель? (округлите до целого)

In [47]:
price_horsepower_model = smf.ols(formula='price ~ horsepower', data=df_dummy_finish).fit().summary()
price_horsepower_model

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.653
Model:                            OLS   Adj. R-squared:                  0.651
Method:                 Least Squares   F-statistic:                     382.2
Date:                Mon, 31 Jan 2022   Prob (F-statistic):           1.48e-48
Time:                        07:23:04   Log-Likelihood:                -2024.0
No. Observations:                 205   AIC:                             4052.
Df Residuals:                     203   BIC:                             4059.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -3721.7615    929.849     -4.003      0.000   -5555.163   -1888.360
horsepower   163.2631      8.351     19.549      0.000     146.796     179.730
==============================================================================
Omnibus:                       47.741   Durbin-Watson:                   0.792
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               91.702
Skew:                           1.141   Prob(JB):                     1.22e-20
Kurtosis:                       5.352   Cond. No.                         314.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

8. Теперь – две модели:

-модель со всеми предикторами

-модель со всеми предикторами, кроме марок машин

Обратите внимание на изменения в R**2, коэффициентах и их значимости. Какую модель лучше оставить?

In [44]:
results_all = smf.ols('price ~ brand_cars + fueltype + aspiration+carbody+drivewheel+wheelbase+carlength+carwidth+curbweight+enginetype+cylindernumber+enginesize+boreratio+horsepower', df_dummy_finish).fit()
print(results_all.summary())
print("R2_all: ", results_all.rsquared)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.959
Model:                            OLS   Adj. R-squared:                  0.948
Method:                 Least Squares   F-statistic:                     81.09
Date:                Mon, 31 Jan 2022   Prob (F-statistic):           4.86e-89
Time:                        07:21:11   Log-Likelihood:                -1804.2
No. Observations:                 205   AIC:                             3702.
Df Residuals:                     158   BIC:                             3858.
Df Model:                          46
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                -3.472e+04   1.17e+04     -2.959      0.004   -5.79e+04   -1.15e+04
brand_cars[T.audi]         437.1040   2125.971      0.206      0.837   -3761.885    4636.093
brand_cars[T.bmw]         7993.4998   2105.132      3.797      0.000    3835.671    1.22e+04
brand_cars[T.buick]       3431.0969   2472.252      1.388      0.167   -1451.829    8314.023
brand_cars[T.chevrolet]  -2107.0167   2054.269     -1.026      0.307   -6164.387    1950.353
brand_cars[T.dodge]      -3034.5530   1686.337     -1.799      0.074   -6365.224     296.118
brand_cars[T.honda]      -2328.7396   1622.141     -1.436      0.153   -5532.617     875.138
brand_cars[T.isuzu]       -926.1643   1819.489     -0.509      0.611   -4519.823    2667.495
brand_cars[T.jaguar]      2695.2664   2546.268      1.059      0.291   -2333.847    7724.379
brand_cars[T.mazda]      -1291.5657   1652.561     -0.782      0.436   -4555.527    1972.395
brand_cars[T.mercury]    -2762.0259   2786.701     -0.991      0.323   -8266.016    2741.965
brand_cars[T.mitsubishi] -3699.6473   1650.046     -2.242      0.026   -6958.640    -440.654
brand_cars[T.nissan]     -1488.1217   1563.564     -0.952      0.343   -4576.305    1600.061
brand_cars[T.peugeot]    -2671.4595   1795.328     -1.488      0.139   -6217.398     874.479
brand_cars[T.plymouth]   -3052.1258   1670.829     -1.827      0.070   -6352.166     247.915
brand_cars[T.porsche]     4915.9715   2797.761      1.757      0.081    -609.864    1.04e+04
brand_cars[T.renault]    -2865.2197   2073.046     -1.382      0.169   -6959.676    1229.237
brand_cars[T.saab]         719.8222   1767.620      0.407      0.684   -2771.390    4211.035
brand_cars[T.subaru]     -1.164e+04   3416.221     -3.407      0.001   -1.84e+04   -4892.375
brand_cars[T.toyota]     -2608.7871   1539.320     -1.695      0.092   -5649.086     431.512
brand_cars[T.volkswagen] -2261.9355   1606.886     -1.408      0.161   -5435.683     911.812
brand_cars[T.volvo]         68.2605   1943.170      0.035      0.972   -3769.679    3906.200
fueltype[T.gas]           -243.7792    908.310     -0.268      0.789   -2037.774    1550.216
aspiration[T.turbo]        596.6566    676.548      0.882      0.379    -739.588    1932.902
carbody[T.hardtop]       -2556.7157   1213.929     -2.106      0.037   -4954.337    -159.094
carbody[T.hatchback]     -3044.4196   1107.064     -2.750      0.007   -5230.972    -857.867
carbody[T.sedan]         -2256.9173   1154.971     -1.954      0.052   -4538.090      24.256
carbody[T.wagon]         -2815.4970   1223.156     -2.302      0.023   -5231.343    -399.651
drivewheel[T.fwd]         -169.4926    888.585     -0.191      0.849   -1924.531    1585.545
drivewheel[T.rwd]          231.9066   1039.685      0.223      0.824   -1821.566    2285.380
enginetype[T.dohcv]      -8358.0756   4326.239     -1.932      0.055   -1.69e+04     186.645
enginetype[T.l]          -1067.3120   1602.125     -0.666      0.506   -4231.657    2097.033
enginetype[T.ohc]         -273.7175   1063.557     -0.257      0.797   -2374.341    1826.906
enginetype[T.ohcf]        1.031e+04   2672.508      3.857      0.000    5028.873    1.56e+04
enginetype[T.ohcv]       -2393.8587   1214.631     -1.971      0.050   -4792.867       5.150
enginetype[T.rotor]         37.4715   2092.597      0.018      0.986   -4095.600    4170.543
cylindernumber[T.five]   -5235.5232   2887.214     -1.813      0.072   -1.09e+04     466.990
cylindernumber[T.four]   -3741.3604   3542.130     -1.056      0.292   -1.07e+04    3254.673
cylindernumber[T.six]    -5441.5317   2628.646     -2.070      0.040   -1.06e+04    -249.713
cylindernumber[T.three]   1604.1476   2774.698      0.578      0.564   -3876.137    7084.432
cylindernumber[T.twelve] -8097.1585   3616.336     -2.239      0.027   -1.52e+04    -954.561
cylindernumber[T.two]       37.4715   2092.597      0.018      0.986   -4095.600    4170.543
wheelbase                  147.1396     76.234      1.930      0.055      -3.429     297.708
carlength                 -113.2012     48.949     -2.313      0.022    -209.881     -16.522
carwidth                   809.1860    214.508      3.772      0.000     385.514    1232.858
curbweight                   4.1822      1.582      2.643      0.009       1.057       7.307
enginesize                  61.4212     23.643      2.598      0.010      14.724     108.119
boreratio                -4319.4728   1759.825     -2.454      0.015   -7795.288    -843.657
horsepower                  34.7010     18.000      1.928      0.056      -0.850      70.252
==============================================================================
Omnibus:                       81.075   Durbin-Watson:                   1.382
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              487.187
Skew:                           1.379   Prob(JB):                    1.62e-106
Kurtosis:                      10.031   Cond. No.                     1.02e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.35e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
R2_all:  0.9593614937247444

In [45]:
# модель без брендов машин
results_without_brand_car = smf.ols('price ~ fueltype + aspiration+carbody+drivewheel+wheelbase+carlength+carwidth+curbweight+enginetype+cylindernumber+enginesize+boreratio+horsepower', df_dummy_finish).fit()
print(results_without_brand_car.summary())
print("R2_without_brand_car: ", results_without_brand_car.rsquared)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.914
Model:                            OLS   Adj. R-squared:                  0.901
Method:                 Least Squares   F-statistic:                     72.32
Date:                Mon, 31 Jan 2022   Prob (F-statistic):           9.86e-81
Time:                        07:21:31   Log-Likelihood:                -1881.6
No. Observations:                 205   AIC:                             3817.
Df Residuals:                     178   BIC:                             3907.
Df Model:                          26
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                  -1.7e+04    1.3e+04     -1.309      0.192   -4.26e+04    8625.219
fueltype[T.gas]          -2423.0935    975.579     -2.484      0.014   -4348.283    -497.904
aspiration[T.turbo]      -1139.2334    787.230     -1.447      0.150   -2692.738     414.271
carbody[T.hardtop]       -3728.0949   1519.366     -2.454      0.015   -6726.383    -729.807
carbody[T.hatchback]     -4639.1279   1294.594     -3.583      0.000   -7193.855   -2084.401
carbody[T.sedan]         -3337.7854   1356.075     -2.461      0.015   -6013.838    -661.732
carbody[T.wagon]         -4315.4661   1465.089     -2.946      0.004   -7206.646   -1424.287
drivewheel[T.fwd]          297.2402   1121.766      0.265      0.791   -1916.431    2510.912
drivewheel[T.rwd]         1939.1594   1226.536      1.581      0.116    -481.263    4359.582
enginetype[T.dohcv]      -1.713e+04   4540.120     -3.773      0.000   -2.61e+04   -8171.142
enginetype[T.l]           2176.0521   1332.818      1.633      0.104    -454.106    4806.211
enginetype[T.ohc]         4006.5687    897.437      4.464      0.000    2235.584    5777.553
enginetype[T.ohcf]        5421.2822   1388.078      3.906      0.000    2682.076    8160.488
enginetype[T.ohcv]       -5001.2242   1345.435     -3.717      0.000   -7656.280   -2346.169
enginetype[T.rotor]      -5196.6413   2084.532     -2.493      0.014   -9310.217   -1083.066
cylindernumber[T.five]   -1.389e+04   2891.599     -4.802      0.000   -1.96e+04   -8180.353
cylindernumber[T.four]   -1.618e+04   3243.610     -4.989      0.000   -2.26e+04   -9780.800
cylindernumber[T.six]    -1.175e+04   2287.516     -5.135      0.000   -1.63e+04   -7231.547
cylindernumber[T.three]  -9264.0553   4750.899     -1.950      0.053   -1.86e+04     111.279
cylindernumber[T.twelve] -1.214e+04   3386.507     -3.585      0.000   -1.88e+04   -5458.378
cylindernumber[T.two]    -5196.6413   2084.532     -2.493      0.014   -9310.217   -1083.066
wheelbase                   71.1868     87.028      0.818      0.414    -100.552     242.925
carlength                  -51.3497     50.341     -1.020      0.309    -150.692      47.993
carwidth                   541.8700    253.327      2.139      0.034      41.958    1041.782
curbweight                   2.9577      1.796      1.647      0.101      -0.585       6.501
enginesize                  36.0515     22.376      1.611      0.109      -8.105      80.208
boreratio                -2230.4519   1731.681     -1.288      0.199   -5647.719    1186.815
horsepower                  86.8164     16.717      5.193      0.000      53.827     119.806
==============================================================================
Omnibus:                       18.493   Durbin-Watson:                   1.249
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               50.728
Skew:                           0.293   Prob(JB):                     9.65e-12
Kurtosis:                       5.365   Cond. No.                     1.02e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.35e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
R2_without_brand_car:  0.9135250639861444

# результаты по трем моделям
# R2_all:  0.9593614937247444
# R2_without_brand_car:  0.9135250639861444
# R2_horcepower:  0.653

In [48]:
# Вывод: оставляем модель без брендов машин(т.к. коэфф R**2 не сильно изменился после выброса предиктора марка, и некоторые бренды имеют значение p<0.05)